.deck-collection
  padding-bottom: 64px

.deck
  margin-bottom: 5px
  width: 100%
  background: #fff
  padding: 10px 5px
  border: 1px solid $laravel-border-color
  border-left-width: 3px
  transition: border .1s ease-in-out
  display: inline-block

  &:hover
    border-left: 3px solid darkred
    background: $dcc-hover-color
    +dcc-box-shadow()

.spec-no
    font-weight: bold

.pagination-link
    position: fixed
    bottom: 20px
    right: 20px

    .pagination
        margin: 0

    .pagination-text
        width: 150px
        text-align: right
        margin: 0

        span
            background: rgba(255,255,255,0.5)
            margin: 0


