body
    background: darken($body-bg, 5%)
    overflow-y: scroll
    padding: 0
    margin: 0
    *
        outline: none !important

.navbar-header
    font-family: $font-header

#app[v-cloak]
    display: none

//#app > .container
//    padding-top: 64px

//.with-sidebar
//    margin-top: 64px
//    overflow-y: scroll

.pagination
    margin: 0px

.btn-search
    margin-left: 5px