body
    background: darken($body-bg, 5%)
    overflow-y: scroll
    padding: 0
    margin: 0
    *
        outline: none !important

.navbar-header
    font-family: $font-header

.faded[v-cloak],
#app[v-cloak]
    display: none



