.navbar
    border-radius: 0
    margin: 0

    .navbar-brand
      color: $dcc-text-header

    .nav-link
      > a
        border-bottom: 3px solid #fff
        transition: .1s ease-in

      &.active > a,
      &:hover > a
          border-bottom: 3px solid $dcc-border-color
          background: $dcc-hover-color !important