#sidebar
    float: left
    height: 100vh
    width: 20%
    border-right: 1px solid $laravel-border-color
    padding-top: 64px
    overflow: hidden
    transition: .3s ease-in-out
    background: #fff

    &:hover
        overflow-y: auto


    &.show-sidebar
        transform: translateX(0)

    .link
        text-decoration: none !important
        padding: 10px 5px
        text-transform: uppercase
        width: 100%
        display: inline-block
        color: $text-color
        border-left: 3px solid #fff

        &:hover
            background: darken(#fff, 3%)
            border-left: 3px solid $brand-success

        &.active
            background: darken(#fff, 3%)
            font-weight: bold
            border-left: 3px solid $brand-success

.main-content
    position: absolute
    top: 0
    right: 0
    height: 100vh
    width: 80%
    padding: 64px 20px 10px 20px
    overflow-y: auto
    transition: .3s ease-in-out

    &.compress-main-content
        width: 75%


.toggler-btn
    display: none
    margin-bottom: 10px


@media (max-width: 1000px)
    #sidebar
        transform: translateX(-300px)

    .main-content
        width: 100%

    .toggler-btn
        display: block

