#sidebar
    position: relative
    z-index: 2
    float: left
    height: 100vh
    width: 20%
    padding-top: 64px
    overflow: hidden
    transition: .3s ease-in-out
    background: #fff

    &:hover
        overflow-y: auto

    &.show-sidebar
        transform: translateX(0)

    .btn-link
        float: left
        text-decoration: none !important
        padding: 5px 10px
        margin: 0 0 0 5px
        text-transform: uppercase
        width: 100%
        word-wrap: break-word
        display: inline-block
        color: $text-color
        background: #fff
        border: 1px solid transparent
        border-left: 3px solid #fff

        &:hover
            background: $dcc-hover-color
            border: 1px solid #ddd
            border-left: 3px solid darkred

        &.active
            background: $dcc-hover-color
            border: 1px solid #ddd
            font-weight: bold
            border-left: 3px solid darkred

.main-content
    position: absolute
    top: 0
    right: 0
    height: 100vh
    width: 80%
    padding: 64px 30px 10px 30px
    overflow-y: auto
    transition: .3s ease-in-out
    background: darken($body-bg, 5%)

    &.compress-main-content
        width: 75%

.toggler-btn
    display: none
    margin-bottom: 10px

.loader
    position: fixed
    display: none
    background: rgba(255,255,255, 0.5)
    top: 0
    bottom: 0
    width: 100%
    z-index: 1

    .v-spinner
        position: fixed
        top: 50%
        left: 50%


@media (max-width: 1000px)
    #sidebar
        transform: translateX(-300px)

    .main-content
        width: 100%

    .toggler-btn
        display: block



