
.search-output
    margin-bottom: 80px

#app
    display: flex

    #sidebar
        padding-left: 15px
        width: 20vw
        display: flex
        flex-direction: column

    .content
        padding: 50px
        width: 80vw

    .white-cover
        background: #fff
        opacity: 0.6
        padding: 0px
        top: 0
        bottom: 0
        width: 100vw
        position: fixed
        z-index: 5
        transform: translateX(60vw)
        display: none

    .clear-btn
        position: absolute
        z-index: 5
        right: 90px
        top: 50%
        transform: translateY(-50%)

a.sidebar-link
    text-decoration: none !important
    color: $text-color
    margin-bottom: 5px
    color: darkred

    &:hover
        color: darken(darkred, 10%)

    &.active
        color: darken(darkred, 10%)

    &.menu-link
        display: none

.menu-title
    display: none

@media screen and (max-width: 770px)

    body
        overflow-x: hidden

    #app
        .content
            width: 100vw

        #sidebar
            display: none
            background: #252243
            position: relative
            bottom: 0
            margin-top: -12vh
            padding-top: 11.5vh
            color: #fff
            overflow: auto
            padding-bottom: 11.5vh

            a
                color: #fff

            .clear-btn
                color: $text-color


    &.active
        .menu-link,
        .menu-title
            display: block !important

    &.active #app
        width: 160vw

    &.active #app > #sidebar
        display: flex
        width: 60vw

    &.active #app > .content
        width: 100vw

    &.active .nav
        transform: translateX(60vw)

    &.active .white-cover
        display: block !important


    a.sidebar-link
        &:hover
            color: rgba(255,255,255,0.6) !important

        &.active
            color: rgba(255,255,255,0.6) !important
